@import "swiper.min.scss";
@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";

@import "blocks/header.scss";
@import "blocks/menu.scss";
@import "blocks/promo-main.scss";
@import "blocks/promo.scss";
@import "blocks/logo.scss";
@import "blocks/search.scss";
@import "blocks/user-block.scss";
@import "blocks/promo-page.scss";
@import "blocks/product-categories.scss";
@import "blocks/collection.scss";
@import "blocks/offers.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-info.scss";
@import "blocks/footer.scss";
@import "blocks/widgets-wrapper.scss";
@import "blocks/subscription.scss";
@import "blocks/widget.scss";
@import "blocks/footer-menu.scss";
@import "blocks/copyright.scss";
@import "blocks/product-filters.scss";
@import "blocks/catalog-list.scss";

body {
  min-width: 320px;
  background-color: #ebe7df;
  color: #333333;
  margin: 0px;
  padding: 0px;
  font-family: "Aller Regular", Arial, sans-serif;
  font-size: 12px;
  line-height: 25px;
  font-style: normal;
  text-align: center;
}

img {
  display: block;
}

.wrapper {
  width: 100%;
  @media ($tablet-widths) {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
}

.inner {
  @include container-fluid();
}
