@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/mixins.scss";

@import "blocks/header-top.scss";
@import "blocks/menu.scss";

body {
  min-width: 940px;
  background-color: green;
  color: #242424;
  margin: 0px;
  padding: 0px;
  font-family: "Allerta", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

img{
  display: block;
}
