$green: #57c5a0;
$dark:  #242424;


/* fonts */
$title-font-size: 14px;
$text-font-size: 12px;

$big-line-height: 60px;
$middle-line-height: 18px;

$mobile-widths-only: "max-width: 767px";
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1400px";
