.catalog-list {
  margin-bottom: 30px;
}

.catalog-list__top {
  @include flex();
  padding: 10px 0px;
}

.catalog-list__page,
.catalog-list__sort {
  @include flex();
  align-items: center;
}

.catalog-list__nav {
  color: #bcb5a7;
  margin-left: 18px;
  padding-top: 8px;
  font-weight: bold;
}

.catalog-list__sort-name {
  color: #bcb5a7;
  font-weight: bold;
  font-size: 14px;
  padding-right: 13px;
}

.catalog-list__sorting {
  margin-left: 15px;
}

.catalog-list__sort-link {
  position: relative;
  color: #bcb5a7;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 6px 37px;
  border: 1px solid #bcb5a7;
  &:after {
    position: absolute;
    content: "";
    display: block;
    background: url("../img/icon_sort.png");
    width: 14px;
    height: 14px;
    top: 7px;
    left: 169px;
  }
}

.catalog-list__view {
  padding: 7px 7px;
  margin-right: 10px;
  border: 1px solid #bcb5a7;
}

.catalog-list__name {
  @include flex();
  align-items: center;
  padding: 5px 0px;
}

.catalog-list__title-main {
  font-size: 25px;
  line-height: $big-line-height;
}

.catalog-list__title {
  font-size: 18px;
  padding-top: 12px;
  text-align: left;
  padding-left: 93px;
}

.catalog-list__link {
  &--show {
  font-size: 14px;
  text-decoration: none;
  color: #c9c2b6;
  border: 1px solid #c9c2b6;
  padding: 6px 23px;
  font-weight: bold;
  }
}

.catalog-list__items {
  @include flex();
  flex-flow: row wrap;
  align-items: top;
    &--line {
      padding-bottom: 45px;
      border-bottom: 1px solid #bcb5a7;
    }
    &--row {
      flex-flow: row wrap;
      padding-bottom: 40px;
      border-bottom: 1px solid #bcb5a7;
    }
}

.catalog-list__item {
  width: 302px;
  &--indent {
    margin-bottom: 30px;
  }
}

.catalog-list__photo {
  padding: 0;
  margin: 0;
  position: relative;
}

.catalog-list__img {
  display: block;
  border: none;
}

.catalog-list__description {
  position: relative;
  width: 300px;
  height: 50px;
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  &--none {
    display: none;
  }
}

.catalog-list__price {
  position: absolute;
  display: block;
  width: 70px;
  background-color: $green;
  color: white;
  font-size: 13px;
  top: -17px;
  left: 10px;
  padding: 21px 0px;
  transition: all .3s ease;
  &:hover {
    padding: 25px 4px;
    font-size: 15px;
  }
}

.catalog-list__sticker {
  position: absolute;
  display: block;
  width: 70px;
  background-color: $dark;
  color: white;
  font-size: 13px;
  top: 0px;
  left: 217px;
  padding: 21px 0px;
  transition: all .3s ease;
    &--stock {
      background-color: #f27e4b;
      padding: 9px 0px;
      &:hover {
        font-size: 15px;
      }
    }
    &:hover {
      padding: 27px 6px;
      font-size: 15px;
    }
}

.catalog-list__btns {
  width: 170px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 15px 0px 0px 100px;
}
