.catalog-info {
  @media ($mobile-widths-only) {
    width: 100%;
    margin: 0 auto;
  }
  @media ($tablet-widths) {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 30px;
  }
}

.catalog-info__delivery,
.catalog-info__reviews {
  @media ($mobile-widths-only) {
    padding: 16px 12px 20px 16px;
    background-color: #dfdbd4;
    border-bottom: 1px solid #bcb5a7;
  }
  @media ($tablet-widths) {
  width: 191px;
  padding: 25px 23px 20px 18px;
  background-color: #dfdbd4;
  }
}

.catalog-info__news {
  @media ($mobile-widths-only) {
    text-align: left;
    padding: 14px 12px 20px 18px;
    background-color: #dfdbd4;
  }
  @media ($tablet-widths) {
  width: 410px;
  padding: 25px 20px 20px 18px;
  background-color: #dfdbd4;
  }
}

.catalog-info__title {
  @media ($mobile-widths-only) {
    &--news {
      text-align: center;
    }
  }
  text-transform: uppercase;
  margin: 0px;
}

.catalog-info__item {
  position: relative;
}

.catalog-info__text {
  line-height: 16px;
  margin: 0px;
  margin: 5px 0px;
    &--left{
    padding-left: 55px;
    margin: 0px;
    margin-bottom: 10px;
    }
}

.catalog-info__data {
  position: absolute;
  display: block;
  width: 36px;
  height: 31px;
  line-height: 12px;
  top: 5px;
  left: 5px;
  background-color: #57c5a0;
  color: #ffffff;
  text-align: center;
  padding-top: 6px;
  font-weight: bold;
}

.catalog-info__link {
  text-decoration: none;
  color: #242424;
  font-weight: bold;
  padding-left: 55px;
  transition: all 0.4s ease-in-out;  
  &:hover {
    color: $green;
  }
}

.catalog-info__author {
  font-style: italic;
}
