.catalog {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 18px;
  border-bottom: 0px solid #bcb5a7;

  @media ($tablet-widths) {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 38px;
  border-bottom: 1px solid #bcb5a7;
  margin-bottom: 25px;
  }
}
