.catalog-list {
  @media ($mobile-widths-only) {
    padding: 0 10px;
    &--line {
      padding-bottom: 35px;
      border-bottom: 1px solid #bcb5a7;
    }
  }
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.catalog-list__top {
  padding-bottom: 20px;
  @media ($tablet-widths) {
  @include flex();
  padding: 10px 0px;
  }
}

.catalog-list__page,
.catalog-list__sort {
  display: flex;
  justify-content: flex-start;
  @media ($tablet-widths) {
    @include flex();
    align-items: center;
  }
}

.catalog-list__nav {
  @media ($mobile-widths-only) {
    color: #bcb5a7;
    font-weight: bold;
    list-style: none;
    display: flex;
    font-size: 13px;
  }
  @media ($tablet-widths) {
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: #bcb5a7;
  padding-top: 8px;
  font-weight: bold;
  list-style: none;
  }
}

.catalog-list__link-nav {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #bcb5a7;
  margin-left: 8px;
  font-weight: bold;
  &:hover {
    color: #aea79a;
  }
}

.catalog-list__rd {
  padding-left: 5px;
}

.catalog-list__sort-name {
  @media ($mobile-widths-only) {
    display: none;
  }
  color: #bcb5a7;
  font-weight: bold;
  font-size: 14px;
  padding-right: 13px;
}

.catalog-list__sort-link {
  @media ($mobile-widths-only) {
    padding: 4px 33px;
    font-size: 16px;
  }
  position: relative;
  color: #bcb5a7;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 2px 37px;
  border: 1px solid #bcb5a7;
  &:after {
    @media ($mobile-widths-only) {
      top: 10px;
      left: 182px;
    }
    position: absolute;
    content: "";
    display: block;
    background: url("../img/icon_sort.png");
    width: 14px;
    height: 14px;
    top: 8px;
    left: 169px;
  }
  &:hover {
    color: #aaa599;
    border: 1px solid #aaa599;
  }
}

.catalog-list__items {
  @media ($mobile-widths-only) {
    &--line {
      padding-bottom: 25px;
    }
  }
  @include flex();
  flex-flow: row wrap;
  align-items: top;
    &--row {
      flex-flow: row wrap;
    }
}

.catalog-list__item {
  @media ($mobile-widths-only) {
    width: 140px;
    padding-bottom: 25px;
    padding-right: 20px;
    &:last-child {
      padding-bottom: 0px;
    }
  }
  width: 302px;
  position: relative;
  &--indent {
    @media ($tablet-widths) {
    margin-bottom: 30px;
    }
  }
  &--sticker-sale {
    &::after {
      @media ($mobile-widths-only) {
        display: none;
      }
      position: absolute;
      content: "";
      display: block;
      background: url("../img/onsale.png");
      width: 68px;
      height: 67px;
      top: 0px;
      left: 220px;
    }
  }
  &--sticker-stock {
    &::after {
      @media ($mobile-widths-only) {
        display: none;
      }
      position: absolute;
      content: "";
      display: block;
      background: url("../img/out_stock.png");
      width: 68px;
      height: 67px;
      top: 0px;
      left: 220px;
    }
  }
}

.catalog-list__photo {
  padding: 0;
  margin: 0;
  position: relative;
}

.catalog-list__img {
  @media ($mobile-widths-only) {
    width: 140px;
    height: 100px;
  }
  display: block;
  border: none;
}

.catalog-list__description {
  @media ($mobile-widths-only) {
    width: 140px;
    height: 45px;
  }
  position: relative;
  width: 300px;
  height: 50px;
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  &--none {
    display: none;
  }
}

.catalog-list__price {
  @media ($mobile-widths-only) {
    top: -101px;
    left: 0px;
    width: 50px;
    font-size: 12px;
    padding: 11px 3px;
  }
  position: absolute;
  display: block;
  width: 70px;
  background-color: $green;
  color: white;
  font-size: 13px;
  top: -17px;
  left: 10px;
  padding: 21px 0px;
}

.catalog-list__sticker {
  position: absolute;
  display: block;
  width: 70px;
  background-color: $dark;
  color: white;
  font-size: 13px;
  top: 0px;
  left: 217px;
  padding: 21px 0px;
  transition: all .3s ease;
    &--stock {
      background-color: #f27e4b;
      padding: 9px 0px;
      &:hover {
        font-size: 15px;
      }
    }
    &:hover {
      padding: 27px 6px;
      font-size: 15px;
    }
}

.catalog-list__view {
  @media ($mobile-widths-only) {
    width: 33px;
    height: 33px;
  }
  position: relative;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  border: 1px solid #bcb5a7;
  &--table{
    &:after {
      @media ($mobile-widths-only) {
        top: 9px;
        left: 9px;
      }
      position: absolute;
      content: "";
      display: block;
      background: url("../img/icon_table.png") no-repeat;
      width: 16px;
      height: 14px;
      top:6px;
      left:6px;
    }
  }
  &--line{
    &:after {
      @media ($mobile-widths-only) {
        top:9px;
        left:9px;
      }
      position: absolute;
      content: "";
      display: block;
      background: url("../img/icon_line.png") no-repeat;
      width: 16px;
      height: 14px;
      top:7px;
      left:6px;
    }
  }
}

.catalog-list__name {
  @media ($mobile-widths-only) {
    padding: 8px 0px;
    padding-bottom: 18px;
  }
  @media ($tablet-widths) {
  @include flex();
  align-items: center;
  padding: 12px 0px;
  }
}

.catalog-list__title-main {
  @media ($mobile-widths-only) {
    font-size: 19px;
  }
}

.catalog-list__title {
  @media ($mobile-widths-only) {
    font-size: 15px;
    text-align: left;
    padding-top: 10px;
    padding-left: 7px;
  }
  @media ($tablet-widths) {
    font-size: 18px;
    padding-top: 12px;
    text-align: left;
    padding-left: 93px;
  }
}

.catalog-list__show {
  @media ($mobile-widths-only) {
    padding: 8px 12px;
    font-size: 15px;
    border: 2px solid #c9c2b6;
  }
  @media ($tablet-widths) {
  font-size: 14px;
  padding: 3px 23px;
  }
  text-decoration: none;
  list-style: none;
  color: #c9c2b6;
  border: 1px solid #c9c2b6;
  font-weight: bold;
    &:hover {
      color: #aaa599;
      border: 1px solid #aaa599;
    }
}

.catalog-list__link {
  text-decoration: none;
  list-style: none;
  color: #242424;
}

.sprite {
    background-image: url("../img/sprite_icon.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart_icon_two {
    width: 16px;
    height: 13px;
    background-position: -20px -20px;
}

.sprite-share-symbol {
    width: 16px;
    height: 16px;
    background-position: -20px -73px;
}

.sprite-star_icon {
    width: 16px;
    height: 16px;
    background-position: -20px -129px;
}

.sprite-view {
    width: 16px;
    height: 16px;
    background-position: -20px -185px;
}

.catalog-list__btns {
  @media ($mobile-widths-only) {
    margin-left: 0px;
    padding: 8px;
  }
  padding:10px;
  background:#ffffff;
  margin-left: 80px;
  height:29px;
  display: none;
}

.catalog-list__btn {
  @media ($mobile-widths-only) {
    padding: 6px 7px;
  }
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  font-size: 0;
  padding: 7px 14px;
  &::before {
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
      -ms-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
    background-image: url("../img/sprite_icon.png");
    background-repeat: no-repeat;
  }
  &--eye::before {
    width: 16px;
    height: 16px;
    background-position: -20px -185px;
  }
  &--star::before {
    width: 16px;
    height: 16px;
    background-position: -20px -129px;
  }
  &--share::before {
    width: 16px;
    height: 16px;
    background-position: -20px -73px;
  }
  &--cart::before {
    width: 16px;
    height: 13px;
    background-position: -20px -20px;
  }
  &:hover {
    opacity: 0.7;
  }
}

.catalog-list__item:hover .catalog-list__btns {
  @media ($mobile-widths-only) {
    width: 120px;
    top: 101px;
  }
  display: flex;
  position: absolute;
  top: 222px;
  width: 200px;
}

.catalog-list__item:hover .catalog-list__title {
   display: none;
}
