.collection__list {
  @media ($mobile-widths-only) {
  padding: 0;
  margin: 0px 10px;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0;
  }
  @media ($tablet-widths) {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 5px;
  border-top: 11px solid #000000;
  }
}

.collection__item {
  @media ($mobile-widths-only) {
    position: relative;
    &--third {
      order: 3;
    }
    &--fourth {
      order: 2;
    }
  }
  @media ($tablet-widths) {
    position: relative;
    width: 192px;
    &--hover::before {
      content: "";
      position: absolute;
      width: 165px;
      height: 4px;
      top: -8px;
      left: 8px;
      display: block;
      border-top: 5px solid #57c5a0;
    }
  }
}

.collection__item::after {
  @media ($tablet-widths) {
  content: "";
  position: relative;
  height: 6px;
  top: -85px;
  left: 5px;
  display: block;
  border-right: 2px solid #2e2e2e;
  }
}

.collection__item:last-child::after {
  border: none;
}

.collection__link {
  @media ($mobile-widths-only) {
    display: block;
    color: #979797;
    font-size: 14px;
    text-decoration: none;
    padding: 15px 0px;
    &--indent {
      padding: 15px 0px;
    }
    &:hover {
      .collection__title {
        color: #ffffff;
    }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 0px;
        display: block;
        border-top: 3px solid #57c5a0;
      }
      &:before {
    				content: '';
            display: block;
    				position: absolute;
    				top: 3px;
    				left: 44%;
            width: 0px;
    	      height: 0px;
    	      border-left: 5px solid transparent;
    	      border-right: 5px solid transparent;
    	      border-top: 8px solid #57c5a0;
    			}
    }
  }
  @media ($tablet-widths) {
  display: block;
  color: #979797;
  font-size: 18px;
  text-decoration: none;
  padding: 13px 0px;
  padding-left: 0px;
  &:hover {
    .collection__title {
      color: #ffffff;
    }
    .collection__description {
      color: #adadad;
    }
    &::before {
      content: "";
      position: absolute;
      width: 176px;
      height: 4px;
      top: -8px;
      left: 10px;
      display: block;
      border-top: 5px solid #57c5a0;
    }
  }
  }
}

.collection__title {
  @media ($mobile-widths-only) {

  }
  display: block;
}

.collection__description {
  display: none;
  @media ($tablet-widths) {
   display: block;
   color: #6e6e6e;
   font-size: 12px;
  }
}
