.collection{
  background-color: #2e2e2e;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.collection__title{
  color: #909090;
  margin-bottom: -15px;
}

.collection__description{
  color: #6e6e6e;
}
