.footer {
  background-color: #242424;
  color: #9b9b9b;
}

.footer__top {
  padding: 5px 0px;
}

.footer__bottom {
  background-color: #2e2e2e;
}

.footer__bottom-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  @include flex();
  align-items: center;
}
