.footer-menu__nav {
  width: 355px;
}

.footer-menu__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  @include flex();
  text-align: center;
}

.footer-menu__link {
  display: inline-block;
  color: #979797;
  text-decoration: none;
  padding: 25px 0px;
}
