.footer-menu {
  width: 355px;
}

.footer-menu__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  @include flex();
  text-align: center;
}

.footer-menu__link {
  display: inline-block;
  position: relative;
  color: #979797;
  text-decoration: none;
  padding: 25px 0px;
  &:after {
    position: absolute;
    content: "";
    top: 31px;
    right: -11px;
    height: 10px;
    border: 1px solid #979797;
    transform: rotate(30deg);
  }
  &:hover {
    color: #dfdbd4;
  }
}
