.header {
  position: relative;
  background-color: #ffffff;

  @media ($tablet-widths) {
    background-color: #ffffff;
  }
}

.header__wrapper {
  @media ($mobile-widths-only) {
    width: 290px;
    display: flex;
  }

  @media ($tablet-widths) {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  @include flex();
  }
}

.header__top {
  background-color: #242424;

  @media ($tablet-widths) {
    @include flex();
  }
}

.header__bottom {
  @media ($tablet-widths) {
    background-color: #ffffff;
  }
}

.header__select {
  @media ($mobile-widths-only) {
    min-width: 90px;
    margin-left: 10%;
    padding-top: 5px;
  }

  @media ($tablet-widths) {
  min-width: 180px;
  }
}

.header__select-icon {
  display: inline-block;
  padding: 12px 7px 15px 35px;

  @media ($tablet-widths) {
  display: inline-block;
  padding: 20px 25px 20px 58px;
  border-left: 1px solid #eeeeee;
    &:last-child{
    border-right: 1px solid #eeeeee;
    }
  }
}

.header__select-like,
.header__select-basket {
  color: #ffffff;
  margin: 21px 0px;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  padding: 5px;
}

.header__select-like {
  background-color: #adadad;
  position: relative;
    &::before {
      position: absolute;
      content: "";
      display: block;
      background: url("../img/star_icon.png");
      width: 16px;
      height: 16px;
      top:4px;
      left:-26px;
     }
  &:hover {
    background-color: #57c5a0;
    &::before {
      position: absolute;
      content: "";
      display: block;
      background: url("../img/star_hover.png");
      width: 16px;
      height: 16px;
      top:4px;
      left:-26px;
    }
  }
}

.header__select-basket {
  background-color: #adadad;
  padding: 5px 8px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    display: block;
    background: url("../img/cart_icon_two.png");
    width: 16px;
    height: 13px;
    top:8px;
    left:-27px;
   }
  &:hover {
    background-color: #57c5a0;
    &::before {
      position: absolute;
      content: "";
      display: block;
      background: url("../img/cart_icon.png");
      width: 16px;
      height: 16px;
      top:5.5px;
      left:-27px;
    }
  }
}
