.header {
  background-color: #ffffff;
  height: 105px;
  padding-bottom: 5px;
}

.header__wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  @include flex();
}

.header__top {
  height: 45px;
  background-color: #242424;
  @include flex();
}

.header__bottom {
  background-color: #ffffff;
}

.header__select {
  min-width: 180px;
}

.header__select-icon {
  display: inline-block;
  padding: 20px 25px 20px 58px;
  border-left: 1px solid #eeeeee;
    &:last-child{
    border-right: 1px solid #eeeeee;
    }
}

.header__icon-like,
.header__icon-basket {
  display: inline-block;
}

.header__select-like,
.header__select-basket {
  color: #ffffff;
  margin: 21px 0px;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  padding: 5px;
}

.header__select-like {
  background-color: #adadad;
  position: relative;
    &::before {
      position: absolute;
      content: "";
      display: block;
      background: url("../img/star_icon.png");
      width: 16px;
      height: 16px;
      top:4px;
      left:-26px;
     }
}

.header__select-basket {
  background-color: #57c5a0;
  padding: 5px 8px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    display: block;
    background: url("../img/cart_icon_two.png");
    width: 16px;
    height: 13px;
    top:8px;
    left:-27px;
   }
}
