.menu{
  width: 580px;
  background-color: #ffffff;
}

.menu__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.menu__link{
  color: #242424;
  font-size: 14px;
  text-decoration: none;
}
