.offers {
  background-color: #242424;
}

.offers__item {
  position: relative;
  padding: 25px 0px;
}

.offers__link{
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $green;
  width: 300px;
  height: 180px;
  list-style: none;
  text-decoration: none;
  border: none;
  &--sale {
    background-image: url("../img/sale.jpg");
  }
  &--special {
    background-image: url("../img/special.jpg");
  }
  &--must {
    background-image: url("../img/must.jpg");
  }
  transform: scale(1);
  transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(1.1);
      .offers__name {
          background-color: #ebe7df;
          opacity: 0.8;
          color: #2e2e2e;
      }
    }
}

.offers__name {
  position: absolute;
  display: block;
  background-color: #393939;
  opacity: 0.9;
  min-width: 180px;
  color: #ffffff;
  font-size: 25px;
  line-height: 60px;
  text-transform: uppercase;
  padding: 0px 25px;
  top: 46px;
  left: 35px;
  &--long {
    left: 35px;
  }
}
