.offers {
  @media ($mobile-widths-only) {
    padding: 28px 10px;
  }
  background-color: #242424;
}

.offers__item {
  @media ($mobile-widths-only) {
    display: inline-block;
    text-align: center;
    padding: 0px 0px 14px 0px;
    &:last-child {
      padding: 0px;
    }
  }
  position: relative;
  padding: 25px 0px;
}

.offers__link{
  @media ($mobile-widths-only) {
    width: 290px;
    height: 170px;
  }
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $green;
  width: 300px;
  height: 180px;
  list-style: none;
  text-decoration: none;
  border: none;
  &--sale {
    background-image: url("../img/sale.jpg");
  }
  &--special {
    background-image: url("../img/special.jpg");
  }
  &--must {
    background-image: url("../img/must.jpg");
  }
  transform: scale(1);
  transition: all 0.4s ease-in-out;
    &:hover {
      @media ($mobile-widths-only) {
        transform: scale(1);
        transition: all 0.4s ease-in-out;
      }
      transform: scale(1.1);
      .offers__name {
          background-color: #ebe7df;
          opacity: 0.8;
          color: #2e2e2e;
      }
    }
}

.offers__name {
  @media ($mobile-widths-only) {
    min-width: 160px;
    padding: 0px 22px;
    top: 40px;
    left: 45px;
    font-size: 20px;
  }
  position: absolute;
  display: block;
  background-color: #393939;
  opacity: 0.9;
  min-width: 180px;
  color: #ffffff;
  font-size: 25px;
  line-height: 60px;
  text-transform: uppercase;
  padding: 0px 25px;
  top: 46px;
  left: 35px;
  &--long {
    @media ($mobile-widths-only) {
      left: 40px;
    }
    left: 17px;
  }
}
