.promo-page {
  width: 460px;
  text-align: left;
  padding: 70px 0px 90px 510px;
  &--other{
    width: 400px;
    padding: 48px 0px 0px 510px;
  }
}

.promo-page__line {
  @include flex();
  align-items: center;
}

.promo-page__price {
  width: 70px;
  font-size: 13px;
  font-weight: bold;
  background-color: #57c5a0;
  color: #ffffff;
  text-align: center;
  padding: 22px 0px;
}

.promo-page__title {
  font-size: 40px;
  line-height: 40px;
  padding-right: 120px;
  margin: 10px 0px;
  &--other {
    padding: 0px 20px 0px 15px;
    margin: 0px;
  }
}

.promo-page__description {
  font-size: 20px;
  line-height: 25px;
  margin: 10px 0px;
  padding-right: 70px;
  &--other {
    padding-right: 15px;
  }
}

.promo-page__btns {
  width: 190px;
  @include flex();
}

.promo-page__btn {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  position: relative;
  font-size: 0;
}

.promo-page__img {
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  position: absolute;
}
