.promo{
  width: 100%;
  height: 462px;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-color: #5a5f64;
  background-position: center;
  background-image: url("../img/promo.jpg");
}
