.promo-page {
  @media ($mobile-widths-only) {
    position: relative;
    text-align: center;
    padding: 0px 0px;
    &--other{
      width: 100%;
      padding: 0px 0px;
    }
  }
  @media ($tablet-widths) {
    width: 460px;
    text-align: left;
    padding: 70px 0px 90px 510px;
    &--other{
      width: 400px;
      padding: 48px 0px 0px 500px;
    }
  }
}

.promo-page__line {
  @media ($tablet-widths) {
    @include flex();
    align-items: center;
  }
}

.promo-page__price {
  @media ($mobile-widths-only) {
    position: absolute;
    width: 55px;
    font-size: 12px;
    font-weight: bold;
    background-color: #57c5a0;
    color: #ffffff;
    text-align: center;
    padding: 14px 0px;
    top: -65px;
    left: 62%;
  }
  @media ($tablet-widths) {
    position: absolute;
    width: 70px;
    font-size: 13px;
    font-weight: bold;
    background-color: #57c5a0;
    color: #ffffff;
    text-align: center;
    padding: 22px 0px;
  }
}

.promo-page__title {
  @media ($mobile-widths-only) {
    font-size: 25px;
    line-height: 30px;
    padding: 0 15%;
    margin: 10px 0px;
    margin-top: 100px;
  }
  @media ($tablet-widths) {
    font-size: 40px;
    line-height: 40px;
    padding-right: 150px;
    margin: 10px 0px;
    margin-top: 84px;
    &--other {
      padding: 0px 20px 0px 88px;
      margin: 0px;
    }
  }
}

.promo-page__description {
  @media ($mobile-widths-only) {
    font-size: 18px;
    line-height: 20px;
    margin: 12px 0px;
    padding: 0 16%;
    margin-bottom: 30px;
  }
  @media ($tablet-widths) {
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0px;
    padding-right: 70px;
    &--other {
      padding-right: 5px;
    }
  }
}

.promo-page__btns {
  @media ($mobile-widths-only) {
    width: 162px;
    @include flex();
    margin-left: 27%;
    margin-top: 62px;
  }
  @media ($tablet-widths) {
    width: 190px;
    @include flex();
  }
}

.promo-page__btn {
  @media ($mobile-widths-only) {
    position: relative;
    width: 37px;
    height: 37px;
    background-color: #ffffff;
    position: relative;
    font-size: 0;
    border-radius: 9px;
  }
  @media ($tablet-widths) {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    position: relative;
    font-size: 0;
  }
}

.promo-page__picture {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  fill: #777777;
  &:hover {
    fill: #57c5a0;
  }
}
