.search {
  @media ($mobile-widths-only) {
  position: absolute;
  width: 80px;
  height: 30px;
  padding: 11px 0px;
  top: 22%;
  left: 70%;
  }

  @media ($tablet-widths) {
    position: relative;
    width: 200px;
    height: 30px;
    margin-left: 440px;
    margin-right: 21px;
    padding: 11px 0px;
  }
}

.search__entry {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  position: absolute;
  color: #ffffff;
  top: 0;
  right: 0;
  z-index: 2;
}
.search__entry:focus {
  width: 290px;
  z-index: 1;
  border-bottom: 2px solid #F9F0DA;
}

.search__btn {
  background: #242424;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search__btn::before {
  @media ($mobile-widths-only) {
    top: -20%;
    left: 30%;
  }
  content: "";
  position: absolute;
  top:40%;
  left:30%;
  content: url("../img/icon-search.png");
  cursor: pointer;
}
