.user-block {
  @media ($mobile-widths-only) {
    position: absolute;
    width: 80px;
    top: 60%;
    left: 70%;
  }
  @media ($tablet-widths) {
    width: 155px;
    padding: 11px 18px;
    border-left: 0.5px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
  }
}

.user-block__link {
  color: #7e7e7e;
  text-decoration: none;
  &:hover {
    color: $green;
  }
}
