.widget {
  width: 260px;
  text-align: left;
  &--text {
    margin-left: 40px;
  }
  &--flickr {
    margin-right: 25px;
  }
}

.widget__title {
  text-transform: uppercase;
  color: #6b6b6b;
  font-size: 14px;
  line-height: $middle-line-height;
  &--flickr {
    padding-bottom: 7px;
  }
}

.widget__text {
  line-height: $middle-line-height;
}

.widget__message {
  line-height: $middle-line-height;
  margin-bottom: 4px;
}

.widget__link {
  color: #54ba98;
  line-height: $middle-line-height;
  text-decoration: none;
  &:hover {
    color: #ebe7df;
  }
}

.widget__picture{
  width: 244px;
  height: 121px;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
    &:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
    }
}

.widget__data {
  padding-top: -10px;
  font-style: italic;
}
